.white-background{
    -fx-background-color: white;
}

.green-btn-background{
    -fx-background-color: #93D468
}

.green-background{
    -fx-background-color: #93D468
}

.green-btn-background:hover{
     -fx-background-color: #e5e5e5
 }

.green-btn-background-2{
    -fx-background-color: #6AAC3E;
}

.green-btn-background-2:hover{
     -fx-background-color: #e5e5e5
 }

.green-vbox-background{
    -fx-background-color: #6AAC3E;
}

.round-btn{
    -fx-background-radius: 50px;
}

.librarian-green-reader-btn{
    -fx-background-color: #009900;
    -fx-background-radius: 50px;
}

.librarian-blue-book-btn{
    -fx-background-color: #16A9FC;
    -fx-background-radius: 50px;
}

.librarian-blue-book-btn:hover{
       -fx-background-color: #e5e5e5;
   }
.librarian-green-reader-btn:hover{
     -fx-background-color: #e5e5e5;
 }
.white-btn-background{
    -fx-background-color: #ffffff;
    -fx-background-radius: 50px;
}
.menu-reader-background{
-fx-background-color: #fafafa;
}

.info-reader-background{
-fx-background-color: #eeeeee;
}

.info-background{
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 1;
}
.sign-up-reader-btn{
    -fx-background-color: #717FFF;
    -fx-background-radius: 50px;
}

.round-btn{
    -fx-background-radius: 50px;
}

.change-info-color{
    -fx-background-color: #06C106;
}

.rent-book-color{
    -fx-background-color: #717FFF;
}
.extend-color{
    -fx-background-color: #4D3BB9;
}

.return-color{
-fx-background-color: #FFB547;
}

.mark-color{
-fx-background-color: #FF3333;
}

.compensate-color{
-fx-background-color: #E8D637;
}
.print-reader-color{
-fx-background-color: #007F9F;
}

.get-notify-color{
-fx-background-color: black;
}

